@import "tailwindcss";

@font-face {
  font-family: "roobert-light";

  src: url("../public/fonts/RoobertTRIAL-Light.woff2");

  font-style: normal;
}
@font-face {
  font-family: "roobert-regular";

  src: url("../public/fonts/RoobertTRIAL-Regular.woff2");

  font-style: normal;
}
@font-face {
  font-family: "roobert-medium";

  src: url("../public/fonts/RoobertTRIAL-Medium.woff2");

  font-style: normal;
}
@font-face {
  font-family: "roobert-semibold";

  src: url("../public/fonts/RoobertTRIAL-SemiBold.woff2");

  font-style: normal;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
}

/* Sets Default Title Balance */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Improve Text Readability via Line Length */
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img {
  /* Prevent Overflow */
  max-width: 100%;
  /* Height: auto Retains Aspect Ratio */
  height: auto;
  /* Vertical-align: middle > display: block; */
  vertical-align: middle;
  /* Italic for alt tags for screen reader, SEO, broken-image */
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  /* Default Shape Margin for Img Floating */
  shape-margin: 0.75rem;
}

video {
  transform: scaleX(-1);
}

input[type="file"] {
  display: none;
}
/* html,
body,
main,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
} */

@theme {
  /* CUSTOM TAILWIND COLORS PER FIGMA FILE */
  /* COLOR NAMES FROM https://www.color-name.com/ */
  --color-lotion: #fcfcfc;
  --color-eerie: #1a1b1c;
  --color-quicksilver: #a0a4ab;
  --color-antiflash: #f3f3f4;
  --color-platinum: #e1e1e2;
  --color-lightgray: #d1d1d2;
  --color-silversand: #c1c2c3;
  --color-lightsilver: #d9d9d9;
  /* CUSTOM TEXT STYLING PER FIGMA FILE */
  --tracking-tightest: -0.07em;
  --spacing-tighter: 0.9375;
  --spacing-roomy: 1.72;
  --text-micro: 0.625rem;
  /* CUSTOM PADDING & MARGINS PER FIGMA FILE */
  --spacing-dotted: 26.43vw;
  --spacing-small: 2rem;
  --spacing-medium: 2.25rem;
}

@utility ease-smooth {
  transition: all 0.3s ease-in-out;
}

@layer components {
  .gridTest {
    display: inline-grid;
    grid-template-columns: auto auto;
  }

  .blurred {
    position: absolute;
    width: 100%;
    height: 150%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 30%,
      rgba(205, 206, 204, 1) 40%,
      rgba(205, 206, 204, 1) 50%,
      rgba(205, 206, 204, 1) 75%,
      rgba(205, 206, 204, 1) 100%
    );
  }

  /* Index LandingPage */
  .index-page {
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow: clip;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .index-content {
    /* display: contents; */
    position: relative;
  }

  .page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
    padding-bottom: var(--spacing-medium);
    /* position: relative; */
  }

  .wrapper {
    display: block;
    margin-inline: auto;
    max-width: var(--site-max-width);
    padding-inline: var(--spacing-small);
    width: 100%;
    place-content: center;
  }

  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  .heading span {
    position: relative;
    display: block;
    transform: translateY(250%);

    letter-spacing: var(--tracking-tightest);
    font-size: var(--text-9xl);
    line-height: var(--spacing-tighter);
    font-weight: 300;
  }

  #hero__title--wrapper h1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  #intro-description {
    position: absolute;
    transform: translateY(200%);
  }

  .landing__square--container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    will-change: transform;
  }

  .index-left {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-200%) translateY(-50%);
    /* Feature not implemented yet */
    cursor: not-allowed;
  }
  .index-right {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateX(200%) translateY(-50%);
  }

  .dotted-square,
  .dotted__square--1,
  .dotted__square--2 {
    --size: 200px;
    --base-transform: translate(0);
    --base-rotation: 45deg;
    --transition-duration: 0.3s;
    border: 2px dotted var(--color-quicksilver);
    display: block;
    height: var(--size);
    position: absolute;
    transform: rotate(var(--base-rotation));
    width: var(--size);
    will-change: transform;
  }

  .dotted-square::before,
  .dotted-square::after {
    content: "";
    border: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
  }
  .dotted-square::before {
    transition: all 0.35s ease-in-out;
  }
  .dotted-square::after {
    transition: all 0.7s ease-in-out;
  }

  .left-button-trigger:hover ~ .dotted-square::before,
  .right-button-trigger:hover ~ .dotted-square::before {
    transform: scale(1.13);
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
  }
  .left-button-trigger:hover ~ .dotted-square::after,
  .right-button-trigger:hover ~ .dotted-square::after {
    transform: scale(1.27);
    opacity: 0.3;
    transition: all 0.7s ease-in-out;
  }

  .solid-square {
    --size: 44px;
    --base-transform: translate(0);
    --base-rotation: 45deg;
    --transition-duration: 0.3s;
    display: block;
    height: var(--size);
    position: relative;
    transform: rotate(var(--base-rotation));
    width: var(--size);
    will-change: transform;
  }

  .solid-square::before {
    content: "";
    border: 2px solid var(--color-quicksilver);
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 1;
  }

  .solid-square::after,
  .solid-square::after {
    content: "";
    border: 1px dotted var(--color-quicksilver);
    transform: scale(1.37);
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 0;
  }
  /* .left-button:hover .solid-square::after,
  .right-button:hover .solid-square::after {
    content: "";
    border: 1px dotted var(--color-quicksilver);
    transform: scale(1.37);
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 1;
  }

  .left-button:hover {
    transform: translateX(10%);
  }
  .right-button:hover

  .right-button-trigger:hover ~ .right-button {
    transform: translateX(-10%);
  }

  .left-button:hover .solid-square::before {
    transform: scale(1.78);
    border: 1px solid var(--color-quicksilver);
  }
  .right-button:hover .solid-square::before {
    transform: scale(1.78);
    border: 1px solid var(--color-quicksilver);
  } */

  .left-button-label,
  .right-button-label {
    margin-inline: 0rem;
  }
  /* .left-button:hover .left-button-label,
  .right-button:hover .right-button-label {
    margin-inline: 2.5rem;
  } */

  .solid-square::before,
  .solid-square::after,
  .left-button,
  .right-button,
  .left-button-label,
  .right-button-label {
    transition: all 0.5s ease-in-out;
  }

  .index-left .dotted-square {
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .index-right .dotted-square {
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
  }

  .landing__square--container .dotted-square {
    --size: 23.43vw;
    pointer-events: none;
    position: absolute;
    top: 50%;
  }

  .index-left .dotted-square__item {
    margin-left: var(--gutter-small);
  }

  .index-left svg {
    transform: rotate(-45deg) translate(-1px);
  }

  .index-right .dotted-square__item {
    margin-right: var(--gutter-small);
  }

  .index-right svg {
    transform: rotate(135deg) translate(-1px);
  }

  .icon-button {
    --color-default: var(--color-eerie);
    --color-hover: var(--color-default);
    --color-active: var(--color-hover);
    --color-disabled: var(--color-quicksilver);
    --color: var(--color-default);
    --outline-color: var(--color-eerie);
    --text-offset-x: 18px;
    --text-translate-x: 28px;
    --icon-size: 44px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease;
  }

  .icon-button-size {
    flex-shrink: 0;
    height: var(--icon-size);
    width: var(--icon-size);
  }
  /* === Button Movement === */
  .left-button-trigger:hover ~ .left-button {
    transform: translateX(10%);
  }
  .right-button-trigger:hover ~ .right-button {
    transform: translateX(-10%);
  }

  /* === Label Animation === */
  .left-button-trigger:hover ~ .left-button .left-button-label,
  .right-button-trigger:hover ~ .right-button .right-button-label {
    margin-inline: 2.5rem;
  }

  /* === Solid Square Effects === */
  .left-button-trigger:hover ~ .left-button .solid-square::before,
  .right-button-trigger:hover ~ .right-button .solid-square::before {
    transform: scale(1.78);
    border: 1px solid var(--color-quicksilver);
  }

  .left-button-trigger:hover ~ .left-button .solid-square::after,
  .right-button-trigger:hover ~ .right-button .solid-square::after {
    opacity: 1;
    transform: scale(1.37);
  }

  /* === Dotted Square Effects === */
  .left-button-trigger:hover ~ .dotted-square::before,
  .right-button-trigger:hover ~ .dotted-square::before {
    transform: scale(1.13);
    opacity: 0.6;
  }

  .left-button-trigger:hover ~ .dotted-square::after,
  .right-button-trigger:hover ~ .dotted-square::after {
    transform: scale(1.27);
    opacity: 0.3;
  }

  /* =====  FORM PAGE */
  .form__square--container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__square--container .dotted-square,
  .form__square--container .dotted__square--1,
  .form__square--container .dotted__square--2 {
    --size: 23.43vw;
    pointer-events: none;
  }

  .form__square--container .dotted__square--1 {
    transform: rotate(45deg) scale(1.13);
    opacity: 0.6;
  }
  .form__square--container .dotted__square--2 {
    transform: rotate(45deg) scale(1.27);
    opacity: 0.3;
  }

  /* GOOGLE PLACES AUTOCOMPLETE */
  .pac-container {
    --color-lotion: #fcfcfc;
    --color-eerie: #1a1b1c;
    --color-quicksilver: #a0a4ab;
    -webkit-box-shadow: 0px 30px 50px 4px rgba(26, 27, 28, 0.1) important;
    -moz-box-shadow: 0px 30px 50px 4px rgba(26, 27, 28, 0.1) important;
    box-shadow: 0px 30px 50px 4px rgba(26, 27, 28, 0.1) important;
    border: 1px solid rgba(26, 27, 28, 0.3) !important;
    border-top: none !important;
    background: rgba(252, 252, 252, 0.6) !important;
    color: var(--color-eerie) important;
    font-family: "roobert-light", sans-serif !important;
    font-size: var(--text-micro);
    font-weight: 400;
    max-width: 100%;
    padding: var(--spacing-small);
    position: absolute;
    z-index: 1000;
  }

  /* =====  FORM PAGE */
  .scan__square--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scan__square--container .dotted-square,
  .scan__square--container .dotted__square--1,
  .scan__square--container .dotted__square--2 {
    --size: 14.93vw;
    pointer-events: none;
  }

  .scan__square--container .dotted__square--1 {
    transform: rotate(45deg) scale(1.13);
    opacity: 0.6;
  }
  .scan__square--container .dotted__square--2 {
    transform: rotate(45deg) scale(1.27);
    opacity: 0.3;
  }

  /*==== Analysys Loader */

  .dashboard__square--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard__square--container .dotted-square,
  .dashboard__square--container .dotted__square--1,
  .dashboard__square--container .dotted__square--2 {
    --size: 21.1vw;
    pointer-events: none;
  }
  .dashboard__square--container .dotted-square {
    transform: rotate(30deg);
    animation-name: dottedSqaureAnim;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
  }

  .dashboard__square--container .dotted__square--1 {
    transform: rotate(45deg) scale(1.23);
    opacity: 0.6;
  }
  .dashboard__square--container .dotted__square--2 {
    transform: rotate(60deg) scale(1.49);
    opacity: 0.3;
    animation-name: dottedSqaureAnim2;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes dottedSqaureAnim {
    0% {
      transform: rotate(30deg) scale(1);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }

  @keyframes dottedSqaureAnim2 {
    0% {
      transform: rotate(60deg) scale(1.49);
    }
    100% {
      transform: rotate(45deg) scale(1.49);
    }
  }

  /*==== Analysys Dashboard */
  .form__square--container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__square--container .dotted-square,
  .form__square--container .dotted__square--1,
  .form__square--container .dotted__square--2 {
    --size: 23.43vw;
    pointer-events: none;
  }

  .form__square--container .dotted__square--1 {
    transform: rotate(45deg) scale(1.13);
    opacity: 0.6;
  }
  .form__square--container .dotted__square--2 {
    transform: rotate(45deg) scale(1.27);
    opacity: 0.3;
  }
}
